@import "~antd/dist/antd.css";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212121;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "DEBUG";
  src: url("../assets/fonts/debug-font/misc/DEBUG FREE TRIAL-5b92.woff")
    format("woff");
}

@font-face {
  font-family: "saira";
  src: url("../assets/fonts/Saira/Saira-VariableFont_wdth,wght.ttf")
    format("ttf");
}
